<!-- Gọi selector của component cần gọi -->
<!-- <app-demo></app-demo> -->

<!-- <div app-demo></div> : [app-demo] -->
<!-- <div class="app-demo"></div> : .app-demo -->

<!-- Khác với react, không có thể hiện <app-demo /> -->

<!-- Bài tập layout -->
<!-- <app-bai-tap-layout></app-bai-tap-layout> -->

<!-- Bài tập databinding -->
<!-- <app-data-binding></app-data-binding> -->

<!-- Bài tập directive -->
<!-- <app-directive></app-directive> -->

<!-- Bài tập về props -->
<!-- <app-product-list></app-product-list> -->

<!-- Bài Tập 04 Slide - Databinding -->
<!-- <app-bt-databinding></app-bt-databinding> -->

<!-- Bài tập về @ViewChild -->
<!-- <app-demo-view-child></app-demo-view-child> -->

<!-- Bài tập về DirectiveUI -->
<!-- <app-directive-ui></app-directive-ui> -->

<!-- Bài tập về routing -->
<router-outlet></router-outlet>

<app-modal></app-modal>
